<h2>api documentation</h2>

<div class="clearfix pbl ui-tabs ui-tabs-vertical">

  <!-- Start navigation -->
  <div class="size1of4 unit">
    <nav class="menu ui-tabs-nav">
      <div class="menu-heading">Resources</div>
      <% for (var i = 0, ii = resources.length; i < ii; i++) { %>
        <% if (i === 0) { %>
          <a class="menu-item ui-tabs-link ui-tabs-active-link" href="#api-docs-<%= resources[i].name %>"><%= resources[i].name %></a>
        <% } else { %>
          <a class="menu-item ui-tabs-link" href="#api-docs-<%= resources[i].name %>"><%= resources[i].name %></a>
        <% } %>
      <% } %>
      <div class="menu-heading">Types</div>
      <% for (var i = 0, ii = types.length; i < ii; i++) { %>
        <a class="menu-item ui-tabs-link" href="#api-docs-types-<%= types[i].name %>"><%= types[i].name %></a>
      <% } %>
    </nav>
  </div>
  <!-- End navigation -->

  <!-- Start panels -->
  <div class="size3of4 unit">

    <!-- Start resources panels -->
    <% for (var i = 0, ii = resources.length; i < ii; i++) { %>
      <div class="ui-tabs-panel pll" id="api-docs-<%= resources[i].name %>">
        <h3><%= resources[i].name %></h3>
        <% if (resources[i].description) { %>
          <h4>Description</h4>
          <p><%= resources[i].description %></p>
        <% } %>
        <h4>Resources</h4>
        <% for (var j = 0, jj = resources[i].operations.length; j < jj; j++) { %>
          <pre><code><%= resources[i].operations[j].method %> <%= resources[i].root_path %><%= resources[i].operations[j].path %></code></pre>
        <% } %>
        <h4>SLA</h4>
        <p>Current service level: <%= resources[i].service_level %></p>
        <h4>Example response</h4>
        <div class="api-docs-example-response clearfix"></div>
        <h4>Parameters</h4>
        <table class="tbl">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% for (var k = 0, kk = resources[i].parameters.length; k < kk; k++) { %>
              <tr>
                <td><%= resources[i].parameters[k].name %></td>
                <td><%= resources[i].parameters[k].type %></td>
                <td><%= resources[i].parameters[k].description %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <h4>Available annotations</h4>
        <table class="tbl">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type added to the response</th>
            </tr>
          </thead>
          <tbody>
            <% for (var l = 0, ll = resources[i].annotations.length; l < ll; l++) { %>
              <tr>
                <td><%= resources[i].annotations[l].name %></td>
                <td>
                  <% if (resources[i].annotations[l].type !== '') { %>
                    <a class="api-docs-types-link" href="#api-docs-types-<%= resources[i].annotations[l].type.toLowerCase() %>"><%= resources[i].annotations[l].type %></a>
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="api-docs-response"></div>
        <h4>Error messages</h4>
        <table class="tbl">
          <thead>
            <tr>
              <th>Status code</th>
              <th>Error code</th>
            </tr>
          </thead>
          <tbody>
            <% for (var l = 0, ll = resources[i].error_messages.length; l < ll; l++) { %>
              <tr>
                <td><%= resources[i].error_messages[l].status_code %></td>
                <td><%= resources[i].error_messages[l].error_code %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
    <!-- End resources panels -->
    
    <!-- Start types panels -->
    <% for (var i = 0, ii = types.length; i < ii; i++) { %>
      <div class="ui-tabs-panel pll" id="api-docs-types-<%= types[i].name %>">
        <h3><%= types[i].name %></h3>
        <% if (types[i].description) { %>
          <h4>Description</h4>
          <p><%= types[i].description %></p>
        <% } %>
        <h4>Fields</h4>
        <table class="tbl">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>JSON Type</th>
              <th>Multiple</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% for (var j = 0, jj = types[i].fields.length; j < jj; j++) { %>
              <tr>
                <td><%= types[i].fields[j].name %></td>
                <td><a class="api-docs-types-link" href="#api-docs-types-<%= types[i].fields[j].type.toLowerCase() %>"><%= types[i].fields[j].type %></a></td>
                <td><%= types[i].fields[j].json_type %></td>
                <td><%= types[i].fields[j].is_multiple %></td>
                <td><%= types[i].fields[j].description %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
    <!-- End types panels -->

  </div>
  <!-- End panels -->
</div>
