<h2>api documentation</h2>

<div class="clearfix pbl ui-tabs ui-tabs-vertical">
  <div class="size1of4 unit">
    <nav class="menu ui-tabs-nav">
      <div class="menu-heading">Resources</div>
      <% for (var i = 0, ii = resources.length; i < ii; i++) { %>
        <% if (i === 0) { %>
          <a class="menu-item ui-tabs-link ui-tabs-active-link" href="#api-docs-<%= resources[i].name %>"><%= resources[i].name %></a>
        <% } else { %>
          <a class="menu-item ui-tabs-link" href="#api-docs-<%= resources[i].name %>"><%= resources[i].name %></a>
        <% } %>
      <% } %>
      <div class="menu-heading">Types</div>
      <% for (var i = 0, ii = types.length; i < ii; i++) { %>
        <a class="menu-item ui-tabs-link" href="#api-docs-types-<%= types[i].name %>"><%= types[i].name %></a>
      <% } %>
    </nav>
  </div>  
</div>
