<h4>Response reference</h4>

<% if (type.description) { %>
  <p><%= type.description %></p>
<% } %>

<table class="tbl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>JSON Type</th>
      <th>Multiple</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0, ii = type.fields.length; i < ii; i++) { %>
      <tr>
        <td><%= type.fields[i].name %></td>
        <td>
          <% if (jQuery.inArray(type.fields[i].type.toLowerCase(), typesToLink) > -1) { %>
            <a class="api-docs-types-link" href="#api-docs-types-<%= type.fields[i].type.toLowerCase() %>">
              <%= type.fields[i].type %>
            </a>
          <% } else { %>
            <%= type.fields[i].type %>
          <% } %>
        </td>
        <td><%= type.fields[i].json_type %></td>
        <td><%= type.fields[i].is_multiple %></td>
      </tr>
    <% } %>
  </tbody>
</table>
