<h4>Response reference</h4>

<% if (this.description) { %>
  <p><%= this.description %></p>
<% } %>

<table class="tbl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>JSON Type</th>
      <th>Multiple</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0, ii = this.fields.length; i < ii; i++) { %>
      <tr>
        <td><%= this.fields[i].name %></td>
        <td><%= this.fields[i].type %> <a class="api-docs-types-link" href="#api-docs-types-<%= this.fields[i].type.toLowerCase() %>"><i class="fa fa-info-circle"></i></a></td>
        <td><%= this.fields[i].json_type %></td>
        <td><%= this.fields[i].is_multiple %></td>
      </tr>
    <% } %>
  </tbody>
</table>
