<h2>api documentation</h2>

<div class="clearfix pbl ui-tabs ui-tabs-vertical">
  <div class="size1of4 unit">
    <nav class="menu ui-tabs-nav">
      <div class="menu-heading">Resources</div>
      <% for (var i = 0, ii = this.length; i < ii; i++) { %>
        <% if (i === 0) { %>
          <a class="menu-item ui-tabs-link ui-tabs-active-link" href="#api-docs-<%= this[i].name %>"><%= this[i].name %></a>
        <% } else { %>
          <a class="menu-item ui-tabs-link" href="#api-docs-<%= this[i].name %>"><%= this[i].name %></a>
        <% } %>
      <% } %>
    </nav>
  </div>
  <div class="size3of4 unit">
    <% for (var i = 0, ii = this.length; i < ii; i++) { %>
      <div class="ui-tabs-panel pll" id="api-docs-<%= this[i].name %>">
        <h3><%= this[i].name %></h3>
        <% if (this[i].description) { %>
          <h4>Description</h4>
          <p><%= this[i].description %></p>
        <% } %>
        <h4>Resources</h4>
        <% for (var j = 0, jj = this[i].operations.length; j < jj; j++) { %>
          <pre><code><%= this[i].operations[j].method %> <%= this[i].root_path %><%= this[i].operations[j].path %></code></pre>
        <% } %>
        <h4>SLA</h4>
        <p>Current service level: <%= this[i].service_level %></p>
        <h4>Example response</h4>
        <div class="api-docs-example-response clearfix"></div>
        <h4>Parameters</h4>
        <table class="tbl">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% for (var k = 0, kk = this[i].parameters.length; k < kk; k++) { %>
              <tr>
                <td><%= this[i].parameters[k].name %></td>
                <td><%= this[i].parameters[k].type %></td>
                <td><%= this[i].parameters[k].description %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <h4>Available annotations</h4>
        <table class="tbl">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% for (var l = 0, ll = this[i].annotations.length; l < ll; l++) { %>
              <tr>
                <td><%= this[i].annotations[l].name %></td>
                <td><%= this[i].annotations[l].type %></td>
                <td><%= this[i].annotations[l].description %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="api-docs-response"></div>
        <h4>Error messages</h4>
        <table class="tbl">
          <thead>
            <tr>
              <th>Status code</th>
              <th>Error code</th>
            </tr>
          </thead>
          <tbody>
            <% for (var l = 0, ll = this[i].error_messages.length; l < ll; l++) { %>
              <tr>
                  <td><%= this[i].error_messages[l].status_code %></td>
                  <td><%= this[i].error_messages[l].error_code %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    <% } %>
  </div>
</div>
