<ul class="tabs clearfix">
  <% for (var i = 0, ii = this.length; i < ii; i++) { %>
    <li class="tab"><a href="#api-<%= this[i].name %>"><%= this[i].name %></a></li>
  <% } %>
</ul>

<% for (var i = 0, ii = this.length; i < ii; i++) { %>
  <div class="tabArea" id="api-<%= this[i].name %>">
    <h2><%= this[i].name %></h2>
    <h3><span class="upper">GET</span> <%= this[i].root_path %></h3>
    <form class="queryParametersForm" data-endpoint="<%= this[i].root_path %>">
      <table class="tbl mbm queryTable">
        <thead>
          <tr>
            <th class="first">Parameter</th>
            <th class="second">Value</th>
            <th class="third">Type</th>
            <th class="fourth">Description</th>
          </tr>
        </thead>
        <tbody>
          <% for (var j = 0, jj = this[i].parameters.length; j < jj; j++) { %>
            <tr>
              <td class="first"><%= this[i].parameters[j].name %></td>
              <td class="second">
                <input class="queryParameter" id="<%= this[i].name %>-id-input" type="text" name="<%= this[i].parameters[j].name %>" value="<%= this[i].parameters[j].default_value %>" data-default="<%= this[i].parameters[j].default_value %>">
                <% if (this[i].name === 'schedules' && this[i].parameters[j].name === 'id') { %>
                  <a class="toggle-picker" href="#<%= this[i].name %>-channel-picker">channel picker</a>
                <% } %>
                <% if (this[i].parameters[j].name === 'annotations') { %>
                  <a class="toggle-picker" href="#<%= this[i].name %>-annotations-picker">annotations picker</a>
                <% } %>
              </td>
              <td class="third"><%= this[i].parameters[j].type %></td>
              <td class="fourth"><%= this[i].parameters[j].description %></td>
            </tr>
            <% if (this[i].name === 'schedules' && this[i].parameters[j].name === 'id') { %>
              <tr class="hide" id="<%= this[i].name %>-channel-picker">
                <td colspan="4" class="channel-picker-row">
                  <div class="clearfix">
                    <div class="popular-channels">
                      <div class="clearfix"><label>popular channels</label></div>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbh"> cbbh (BBC One)</label>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbG"> cbbG (BBC Two)</label>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbP"> cbbP (BBC Three)</label>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbQ"> cbbQ (BBC Four)</label>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbV"> cbbV (BBC HD)</label>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbbW"> cbbW (CBBC)</label>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbcQ"> cbcQ (BBC Radio 1)</label>
                      <label><input class="channel-picker-radio" type="radio" name="channel-id" value="cbcS"> cbcS (BBC Radio 2)</label>
                    </div>
                    <div class="pickers">
                      <div>
                        <label for="channel-picker-platforms">platform: </label>
                        <select name="channel-picker-platforms" class="channel-picker-platforms">
                          <option value="">select platform</option>
                          <% for (var l = 0, ll = this[i].channel_groups.length; l < ll; l++) { %>
                            <option value="<%= this[i].channel_groups[l].id %>"><%= this[i].channel_groups[l].id %> (<%= this[i].channel_groups[l].title %>)</option>
                          <% } %>
                        </select>
                      </div>
                      <div>
                        <label for="channel-picker-regions">regions: </label>
                        <select name="channel-picker-regions" class="channel-picker-regions">
                          <option value="">select region</option>
                        </select>
                      </div>
                    </div>
                    <div class="channels-by-region"></div>
                  </div>
                </td>
              </tr>
            <% } %>
            <% if (this[i].parameters[j].name === 'annotations') { %>
              <tr class="hide" id="<%= this[i].name %>-annotations-picker">
                <td colspan="4" class="annotations-row">
                  <% for (var k = 0, kk = this[i].annotations.length; k < kk; k++) { %>
                    <label>
                      <input class="annotation-checkbox" type="checkbox" name="<%= this[i].annotations[k] %>">
                      <%= this[i].annotations[k] %>
                    </label>
                  <% } %>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </form>
    <h4>Request</h4>
    <form class="queryForm mbl">
      <input class="queryUrl" type="text" name="">
      <button class="btn" type="submit">Go</button>
    </form>
    <h4>Response</h4>
    <div class="queryResponse">
      <pre class="jsonOutput"></pre>
    </div>
  </div>
<% } %>
