<div class="carousel">
  <% var data = this; %>
  <% for (var i = 0, ii = data.length; i < ii; i++) { %>
    <div class="widget-panel carousel-slide">
      <div class="widget-image-container">
        <img class="widget-programme-image" src="" alt="<%= data[i].programme_title %>" data-src="http://users-images-atlas.metabroadcast.com/?source=<%= data[i].image %>&resize=460">
      </div>
      <div class="widget-programme-info">
        <div class="widget-programme-info-inner clearfix">
          <div class="widget-programme-details">
            <div class="widget-programme-start-time"><%= data[i].start_time_string %></div>
            <div class="widget-programme-title"><%= data[i].programme_title %></div>
          </div>
          <% if (data[i].channel_logo) { %>
            <img class="widget-channel-logo" src="" alt="<%= data[i].channel.title %>" data-src="<%= data[i].channel_logo %>">
          <% } %>
        </div>
        <div class="widget-api-call">
          <a href="https://atlas.metabroadcast.com/3.0/search.json?q=<%= data[i].title %>&limit=2">
            https://atlas.metabroadcast.com/3.0/search.json?q=<%= data[i].title %>&limit=2
          </a>
        </div>
      </div>
    </div>
  <% } %>
</div>
